.customNextPageBtn { border-color: red; }
.customNextPageBtn { border-color: green; }
.customPrevPageBtn { border-color: blue; }
.customResetViewBtn { color: red; }
.customRotateLeftBtn { color: blue; font-weight: bold }
.customRotateRightBtn { color: green; font-weight: bold }
.customZoomBtn { background: lightblue; }
